#########################
#Ignoring UE4 files
*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
BuildingScape/Content/StarterContent/

##########################
#Ignoring VS files
*.VC.db

