#########################
#Ignoring UE4 files
*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
BuildingScape/Content/StarterContent/
*.suo
*.uasset


##########################
#Ignoring VS files
*.VC.db
*.VC.db-wal
*.VC.db-shm
*.VC.opendb
*.vs/

